.login_container {
    height: 350px;
    width: 50vw;
    max-width: 500px;
    min-width: 350px;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    background-color: white;
    opacity: 0.9;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 40px;
    width: 40px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.fa-solid {
    font-size: larger;
}

.login_page_title,
.signup_page_title {
    font-size: xx-large;
    color: palevioletred;
    font-weight: 700;
    margin-top: 20px;
    height: 13%;
    /* border: 2px solid black; */
}

.signup_page_title {
    display: none;
}

.credentials {
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid black; */
    padding-left: 20px;
    gap: 5px;
}

input {
    height: 40px;
    width: 90%;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    background-color: rgb(239, 218, 218);
}

.btn {
    /* border: 2px solid black; */
    margin-bottom: 10px;
}

.login_btn,
.signup_btn {
    height: 40px;
    width: 70px;
    z-index: 20;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    font-size: medium;
    font-weight: 700;
    cursor: pointer;
}

.signup_btn {
    width: 80px;
    display: none;
    margin-bottom: 30px;
}

.signupText {
    margin-top: 10px;
    margin-bottom: 20px;
}

.create {
    color: palevioletred;
    cursor: pointer;
}

.error_message {
    color: red;
    font-size: small;
    margin-bottom: 20px;
}

#name {
    display: none;
}

#nameLabel {
    display: none;
}